* {
    margin: 0;
    padding: 0;
}

header {
    align-items: center;
    display: inline-block;
}

nav {
    background-color: rgb(243, 239, 239);
    align-content: space-between;
}

nav ul {
    overflow: auto;
}

nav li {
    list-style: none;
    justify-content: space-around;
    padding: 10px;
    color: rgb(8, 8, 8);
    display: inline-block;
    align-items: center;
}

nav li:hover {
    color: rgb(221, 245, 4);
}

.img1 {
    height: 2%;
    width: 2%;
    justify-content: space-between;
    display: inline-block;
    align-items: center;
    float:left;
}

.img2 {
    height: 2%;
    width: 2%;
    justify-content: space-between;
    display: inline-block;
    align-items: center;
    float: right;

}

.img3 {
    height: 2%;
    width: 2%;
    justify-content: space-around;
    display: inline-block;
    align-items: center;
    float: right;

}

.flex-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5rem;
    justify-content: center;
    margin: 0;
    padding: 0;

}

.flex-frame {
    padding: .5rem;
    font-size: 1.2rem;
    
}


.item {
    object-fit: cover;
}

/*start of slideshow css*/

body {
    padding: 0;
    margin: 0;
    background-color: floralwhite;
}

.slider-frame {
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin-left: 360px;
    margin-top: 20px;
}

@-webkit-keyframes slide_animation {
    0% {left:0px;}
    10% {left:0px;}
    20% {left: 1200px;}
    30% {left:1200px;}
    40% {left:2400px;}
    50% {left:2400px;}
    60% {left:1200px;}
    70% {left:1200px;}
    80% {left:0px;}
    90% {left:0px;}
    100% {left:0px;}

}

.slide-images {
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;

}

.img-container {
    height: 800px;
    width: 1200px;
    position:relative;
    float: left;
}

/* start of footer css */

footer {
    background-color: #F5F5F7;
    padding:1.5em;
}

footer ul {
    list-style-type: none;
}
.footer_menu {
    display: flex;
  justify-content: space-around;

  padding: 10px;
  margin: 0;
   border-top: 1px solid #d2d2d7; border-bottom: 1px solid #d2d2d7;
}
h4 {
margin-block-start: 0.5em;
margin-block-end: 0.5em;
}
/* end of footer css */